
 <!--Main content-->
<main class="ui container pt-8">

  <!--Breadcrumb -->
  <header class="ui segment" [ngClass]="{'loading': !book}">
    <div class="ui huge breadcrumb">
      <a class="section" [routerLink]="['/categories']">Categorías</a>
      <i class="right chevron icon divider"></i>
      <a *ngIf="book"
          [routerLink]="['/category', book?.categories.mainCategory.key, book?.categories.subCategory.key, book?.categories.subCategory.name]"
         class="section">{{ book?.categories.subCategory.name }}</a>
      <i class="right chevron icon divider"></i>
      <div class="section active">{{ book?.title }}</div>
    </div>
  </header>


  <div class="ui tall stacked segment pt-6" [ngClass]="{'loading': !book}">

    <!--successfully report-->
    <div class="ui positive message" *ngIf="successReport">
      <i class="close icon" (click)="onCloseMessage()"></i>
      <div class="header">
        Tu reporte ha sido enviado
      </div>
      <p>
        {{ successReport }}}
      </p>
    </div>

    <!--error report-->
    <div class="ui negative message" *ngIf="errorReport">
      <i class="close icon" (click)="onCloseMessage()"></i>
      <div class="header">
        Ocurrió un error...
      </div>
      <p>
        {{ errorReport }}
      </p>
    </div>

    <div class="ui message" *ngIf="showMessage">
      <i class="close icon" (click)="onCloseMessage()"></i>
      <div class="header">
        No estas logeado
      </div>
      <p>Para poder realizar esa acción debes estar logeado.</p>
    </div>


    <section class="book-detail-container">
      <div class="book-detail-image">
        <img [src]="book?.coverImage">
      </div>
      <div class="book-detail-information">
        <h2 class="ui header">{{ book?.title }} <span>({{ book?.releaseDate }})</span></h2>
        <div class="ui huge list">
          <div class="item">
            <i class="sort numeric ascending icon"></i>
            <div class="content">
              Edición: {{book?.edition}}
            </div>
          </div>
          <div class="item">
            <i class="file outline icon"></i>
            <div class="content">
              Páginas: {{book?.numberOfPages}}
            </div>
          </div>
          <div class="item">
            <i class="write icon"></i>
            <div class="content">
              Autores:
              <a *ngFor="let author of book?.authors; let i = index"
                 [routerLink]="['/author', author?.key, author?.name]">{{author?.name}}
                <span *ngIf="i < book?.authors.length - 1">, </span>
              </a>
            </div>
          </div>
          <div class="item">
            <i class="folder outline icon"></i>
            <div class="content">
              Categoría: <a *ngIf="book"
              [routerLink]="['/category', book?.categories.mainCategory.key,
              book?.categories.subCategory.key, book?.categories.subCategory.name]">
              {{book?.categories.subCategory.name}}</a>
            </div>
          </div>
          <div class="item">
            <i class="thumbs outline up icon"></i>
            <div class="content">
              {{ book?.likes }} <span>Likes</span>
            </div>
          </div>
          <div class="item" *ngIf="userService?.user">
            <div class="content">
              <a class="ui large label" (click)="onClickReport()">
                <i class="flag outline icon"></i>
                Reportar
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Buttons-->
    <div class="book-detail-meta">
      <div class="book-detail-likes">
        <button class="ui fluid huge button"
                [ngClass]="{'primary': !alreadyLiked}"
                type="button"
                (click)="onLike()">
          <span *ngIf="!alreadyLiked; else liked">
            <i class="thumbs outline up icon"></i>
          Me gusta
          </span>
          <ng-template #liked>
            <i class="thumbs outline down icon"></i>
            Ya no me gusta
          </ng-template>
        </button>
      </div>
      <div class="book-detail-download">

        <a [href]="'https://drive.google.com/uc?export=download&id=' + book?.downloadURL " *ngIf="book?.downloadOption === 'googleDrive'; else elseOption"
                class="ui labeled fluid icon huge button negative"
                download>
          <i class="cloud download icon"></i>
          Descargar PDF
        </a>
        <!--TODO FINISH THIS!-->
        <ng-template #elseOption>
          <a class="ui labeled fluid icon huge button negative" [href]="book?.downloadURL" target="_blank">
            <i class="external icon"></i>
            Abrir y descargar PDF
          </a>
        </ng-template>
      </div>
    </div>

    <!--Preview PDF and description-->
    <div class="mt-1 mb-1">
      <div class="ui styled fluid accordion">
        <div class="title">
          <i class="dropdown icon"></i>
          Breve descripción
        </div>
        <div class="content">
          <p class="transition hidden custom-font" style="display: block !important;">
            {{ book?.briefDescription }}
          </p>
        </div>
        <div class="title" (click)="showIframe = true">
          <i class="dropdown icon"></i>
          Ver libro online
        </div>
        <div class="content">
          <div class="transition hidden" *ngIf="showIframe">
            <div *ngIf="book?.downloadOption === 'googleDrive'">
              <iframe [src]="cleanURL('https://drive.google.com/file/d/' + book?.downloadURL +'/preview')" width="100%" height="820"></iframe>
            </div>
            <div *ngIf="book?.downloadOption === 'firebaseStorage'">
              <iframe [src]="cleanURL(book?.downloadURL)" width="100%" height="820"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--user info and ID of the book-->
    <div class="ui grid mt-3 stackable">
      <div class="eight wide column">
        <!--TODO Redireccionar al perfil del usuario que subió el libro.-->
        <a class="ui blue image large label" *ngIf="userInfo">
          <img src="{{userInfo?.photoUrl}}">
          {{userInfo?.displayName}}
          <div class="detail">Staff</div>
        </a>
      </div>
      <div class="eight wide column move-content-right" *ngIf="userService?.user">
        <a class="ui large label">
          <i class="privacy icon"></i> {{book?.$key}}
        </a>
      </div>
    </div>
  </div>

  <!--AD-->
  <div class="container pt-2" *ngIf="adEnabled">
    <app-advertisement [adKind]="'billboard'"></app-advertisement>
  </div>

  <div class="ui segment">
    <h2>Compartir</h2>
    <share-buttons [theme]="'default'"
                        [show]="8"
                        [showName]="true"
                        [showCount]="true"
                        [size]="3"
                        [url]="currentURL"
                        [title]="book?.title"
                        [description]="'Librostic - ' +  book?.title"
                        [image]="book?.coverImage"
     ></share-buttons>
  </div>


  <div class="ui segment">
    <h2 class="ui h2">Comentarios</h2>
    <app-comments [key]="book?.$key"></app-comments>
  </div>

  <!--REPORT MODAL FORM-->
  <div class="ui modal">
    <div class="header">
      Selecciona el motivo del reporte
    </div>
    <form class="ui form" (ngSubmit)="onSubmitReport(f)" #f="ngForm">
      <div class="ui segment">
        <div class="ui form mt-1 mb-1">
          <div class="field required">
            <label>Motivo</label>
            <select name="reportOption" ngModel="link">
              <option value="link">El enlace no funciona</option>
              <option value="wrongImage">Imágen inapropiada</option>
              <option value="largeFile">El tamaño del archivo es demasiado pesado</option>
            </select>
          </div>
        </div>
      </div>
      <div class="actions mb-1" style="text-align: right; padding-right: 5px;">
        <div class="ui button" (click)="onCloseReportModal()">Cancelar</div>
        <button class="ui positive right labeled icon button"
                type="submit" (click)="onCloseReportModal()">
          Enviar
          <i class="checkmark icon"></i>
        </button>
      </div>
    </form>
  </div>
</main>

