
.book-detail-image img {
  max-width: 100%;
}
.custom-font {
  font-size: 1.3em;
}

.book-detail-likes,
.book-detail-download {
  padding: 0.5em 0;
}


@media screen and (min-width: 991px) {
  .book-detail-container,
  .book-detail-meta{
    display: flex;
    justify-content: space-between;
  }

  .book-detail-image,
  .book-detail-likes {
    width: 30%;
    padding-right: 0.5em;
  }

  .book-detail-information,
  .book-detail-download {
    width: 68%;
    display: flex;
    flex-direction: column;
  }

  .move-content-right {
    text-align: right;
  }
}
