<main class="ui container mt-6">
  <div class="ui raised segment min-height-70">
    <div class="flex-center"><i class="meh icon massive"></i></div>
    <h1>No encontramos ningún resultado</h1>
  </div>
</main>
