<main class="ui container pt-8" *ngIf="isComponentLoaded; else loadingComponent">
  <!--GENERIC ERROR-->
  <div class="ui error huge message" *ngIf="showGenericError">
    <i class="close icon" (click)="onCloseGenericError()"></i>
    <div class="header">
      Error al intentar validar el formulario.
    </div>
    <ul class="list">
      <li>Recuerda que todos los campos son obligatorios.</li>
      <li>Selecciona una imágen adecuada(respetar formato y tamaño).</li>
      <li>Si seleccionaste el servicio Firebase debes adjuntar un archivo PDF y su tamaño debe ser menor a 40MB.</li>
    </ul>
  </div>

  <!--firebase errors Catched on form-book.service-->
  <div class="ui negative message" *ngIf="uploadError && uploadError.isError">
    <i class="close icon"></i>
    <div class="header">
      😯 {{ uploadError.title }}
    </div>
    <p>
      {{ uploadError.body }}
    </p>
  </div>

  <div class="ui icon success message" *ngIf="uploadError && !uploadError.isError">
    <i class="close icon"></i>
    <i class="check circle icon"></i>
    <div class="content">
      <div class="header">
        {{ uploadError.title }}
      </div>
      <p>{{ uploadError.body }}</p>
    </div>
  </div>

  <h1 class="ui top attached header">
    Subir PDF del libro
    <div class="sub header">Todos los campos son obligatorios.</div>
  </h1>

  <div class="ui attached segment">
    <form class="ui form" [formGroup]="bookForm" (ngSubmit)="onFormSubmit(bookForm.value)">

      <!--buscar autores Component-->
      <app-search-author (authorsToBeSaved)="getAuthorsFromChildComponent($event)"></app-search-author>

      <!--Select PDF from Google Drive-->
      <div class="field">
        <label>Subir archivo PDF</label>
        <!--Google Picker API-->
        <app-google-picker></app-google-picker>
      </div>

      <!--información básica-->
      <h3 class="ui dividing header">Informacón básica del libro</h3>
      <div class="field">
        <label>Imágen de portada del libro</label>
        <div class="two fields">
          <!--subir imagen,titulo,edicion,cant paginas-->
          <div class="field">

            <!--imagen-->
            <div>
              <input type="file" #imageFile (change)="onImageChange()">
            </div>

            <!--titulo-->
            <div class="mt-1 field"
                 [class.error]="bookForm.controls['book-title'].invalid && bookForm.controls['book-title'].touched">
              <label>Título:</label>
              <input type="text"
                     placeholder="Título de portada"
                     [formControl]="bookForm.controls['book-title']">
            </div>

            <!--Edicion-->
            <div class="mt-1 field"
                 [class.error]="bookForm.controls['book-edition'].invalid && bookForm.controls['book-edition'].touched">
              <label>Edición:</label>
              <input type="number"
                     min="1"
                     placeholder="Número de edición"
                     [formControl]="bookForm.controls['book-edition']">
              <div class="ui pointing label"
                   *ngIf="bookForm.controls['book-edition'].hasError('min')
                   && bookForm.controls['book-edition'].touched">
                La edición debe ser mayor a 0!
              </div>
            </div>

            <!--cantidad de paginas-->
            <div class="mt-1 field"
                 [class.error]="bookForm.controls['book-pages'].invalid && bookForm.controls['book-pages'].touched">
              <label>Páginas:</label>
              <input type="number"
                     min="5"
                     placeholder="Cantidad de páginas"
                     [formControl]="bookForm.controls['book-pages']">
              <div class="ui pointing label"
                   *ngIf="bookForm.controls['book-pages'].hasError('min')
                   && bookForm.controls['book-pages'].touched">
                El libro debe tener al menos 10 páginas.
              </div>
            </div>
          </div>

          <!--vista previa de la imágen que subió el usuario-->
          <div class="field">
            <!--TODO APLICAR LOS MISMOS ESTILOS DEL LISTADO QUE APARECE EN EL INICIO.-->
            <img #imagePreview class="ui medium image">
          </div>
        </div>
      </div>
      <div class="field"
           [class.error]="bookForm.controls['book-release-date'].invalid && bookForm.controls['book-release-date'].touched">
        <label>Fecha de la primera edición</label>
        <input type="number"
               placeholder="año edición"
                [formControl]="bookForm.controls['book-release-date']">
        <div class="ui pointing label"
             *ngIf="bookForm.controls['book-release-date'].hasError('required')
                   && bookForm.controls['book-release-date'].touched">
          Selecciona el año de publicación del libro
        </div>
      </div>

      <h3 class="ui dividing header">Categorías</h3>
      <!--TODO Terminar estilo para seleccionar categorías.-->
      <div class="two fields">
        <div class="field">
          <label>Principal</label>
          <select size="13" (change)="onMainCategoryChanged()" [formControl]="bookForm.controls['book-main-category']">
            <option *ngFor="let category of categories"
                    [value]="category.key">{{category.name}}
            </option>
          </select>
        </div>
        <div class="field"
             [class.disabled]="showGray">
          <label>Secondaria</label>
          <select size="13" [formControl]="bookForm.controls['book-sub-category']">
            <ng-template ngIf="subCategories">
              <option *ngFor="let subCategory of subCategories"
                [value]="subCategory.key">{{subCategory.name}}</option>
            </ng-template>
          </select>
        </div>
      </div>



      <!--descripción del libro-->
      <div class="field"
           [class.error]="bookForm.controls['book-description'].invalid && bookForm.controls['book-description'].touched">
        <label>Descripción del libro</label>
        <textarea [formControl]="bookForm.controls['book-description']"></textarea>
      </div>

      <button class="ui button huge fluid">
        <i class="send icon"></i>Compartir
      </button>

    </form>
    <div class="ui active inverted dimmer" *ngIf="isSendingForm">
      <div class="ui text loader">Guardando Libro...</div>
    </div>
  </div>
</main>

<ng-template #loadingComponent>
  <div class="ui active inverted dimmer" >
    <div class="ui text loader">Cargando</div>
  </div>
</ng-template>
