<div class="ui huge vertical menu">
  <a class="item"
     [routerLink]="['/dashboard/welcome']"
      routerLinkActive="active">
    <i class="dashboard icon"></i> Dashboard
  </a>
  <div class="item">
    <div class="header">Usuarios</div>
    <div class="menu">
      <a class="item disabled-item">Consultar Usuario</a>
      <a class="item disabled-item">Editar Usuario</a>
      <a class="item"
         [routerLink]="['ban-user']"
         routerLinkActive="active">Bloquear Usuario</a>
      <a class="item"
         [routerLink]="['list-users']"
         routerLinkActive="active">Listar usuarios</a>
    </div>
  </div>
  <div class="item">
    <div class="header">Categorías</div>
    <div class="menu">
      <a class="item"
         [routerLink]="['new-main-category']"
         routerLinkActive="active">Nueva categoría Principal</a>
      <a class="item"
          [routerLink]="['new-subcategory']"
          routerLinkActive="active">Nueva Subcategoría</a>
      <a class="item disabled-item">Editar categoría Principal</a>
      <a class="item disabled-item">Editar Subcategoría</a>
    </div>
  </div>
  <div class="item">
    <div class="header">Libros</div>
    <div class="menu">
      <a class="item" routerLinkActive="active"
                      [routerLink]="['book-edit']">Editar libro</a>
      <a class="item" routerLinkActive="active"
                      [routerLink]="['book-delete']">Eliminar libro</a>
    </div>
  </div>
  <div class="item">
    <div class="header">
      Reportes
      <div class="ui label blue">
        {{totalReports}}
      </div>
    </div>
    <div class="menu">
      <a class="item" [routerLink]="['top-reports']">Top Reportes</a>
    </div>
  </div>
  <div class="item">
    <div class="header">App</div>
    <div class="menu">
      <a class="item" routerLinkActive="active"
         [routerLink]="['advertisement']">Publicidad</a>
    </div>
  </div>
</div>
