.hide-menu {
  display: none;
}

.show-menu {
  display: flex;
}

.arrow-item {

}

@media screen and (min-width: 933px) {
  .hide-menu {
    display: flex;
  }
  .arrow-item {
    display: none !important;
   }
}
