<!--MENU. Usuario autenticado-->
<div class="ui stackable pointing menu huge fixed takeoff-margin-top">
  <a class="item show-menu flex-center" (click)="onAppendMenu()">
    <i class="chevron down icon"></i>
  </a>
</div>
<div class="ui stackable menu huge fixed takeoff-margin-top hide-menu"
      [ngClass]="{'show-menu': appendMenu}">
    <a class="item arrow-item flex-center" (click)="onAppendMenu()">
      <i class="chevron up icon"></i>
    </a>
    <a class="item"
       [routerLink]="['/']">
      <img src="https://firebasestorage.googleapis.com/v0/b/librostic-fa290.appspot.com/o/app%2Flogo%2Ffavicon.png?alt=media&token=314bf0ec-a395-4408-a265-72e6ccb319cb">
      <strong class="site-name">Librostic</strong>
    </a>

    <a class="item"
       [routerLink]="['/categories']"
       routerLinkActive="active">Categorías</a>

    <!--SEARCH BOOK, AUTHOR OR AN USER-->
    <div class="ui item action input search-wide">
      <input type="text"
             placeholder="Buscar por..." autofocus #inputQuery
              (keyup.enter)="onClickSearch(inputQuery, inputSelect)">
      <select class="ui compact selection dropdown" #inputSelect>
        <option value="books" selected>Libros</option>
        <!--<option value="authors">Autores</option>-->
        <!--<option value="users">Usuarios</option>-->
      </select>
      <div type="button"
           class="ui button primary"
           (click)="onClickSearch(inputQuery, inputSelect)">
        Buscar
      </div>
    </div>

    <!--RIGHT ITEMS (menu)-->
    <div class="right menu">
      <ng-container *ngIf="isAuth | async; else showSignin">
        <a class="item showPopup" *ngIf="isAdmin"
           (mouseenter)="onShowpopup()"
           (mouseleave)="onHidepopup()"
           data-content="Subir libro"
           [routerLink]="['/new-book']"
           routerLinkActive="active">
          <i class="fa fa-upload fa-lg" aria-hidden="true"></i>
        </a>
        <!--this is shown when the user is logged in-->
          <!--dropdown current user. only show when the user is logged-->
          <div class="ui dropdown item" *ngIf="isAuth | async"
               (mouseenter)="onDropdownEnter()"
                (mouseleave)="onDropdownLeave()">
            <img class="ui avatar image" src="{{ userService.user.photoUrl }}">
            <span>{{ userService.user.displayName}}</span>
            <i class="dropdown icon"></i>
            <div class="menu custom-menu">
              <!--NEXT VERSION (PERFIL)-->
              <a class="item disabled">Perfil</a>
              <a class="item"
                 [routerLink]="['/user-config']"
                  routerLinkActive="active">Configuración</a>

              <!--ONLY MODS OR ADMIN-->
                <ng-template [ngIf]="isAdmin">
                  <div class="ui divider"></div>
                  <div class="header"><strong>Staff</strong></div>
                  <a class="item"
                     [routerLink]="['/dashboard/welcome']"
                     routerLinkActive="active">Dashboard</a>
                </ng-template>


              <div class="ui divider"></div>
              <a class="item" (click)="onSignout()">Salir</a>
            </div>
          </div>
      </ng-container>
      <!--show button only if the user isn't logged-->
      <ng-template #showSignin>
        <div class="item" routerLinkActive="active">
          <a class="ui primary button"
             [routerLink]="['/login']">Ingresar</a>
        </div>
      </ng-template>
    </div>
</div>


