<main class="ui container pt-8">
  <!--SUCCESS MESSAGGE-->
  <div class="ui success icon message" *ngIf="updatedSuccessfully">
    <i class="check circle icon"></i>
    <i class="close icon" (click)="onDismissErrorAuthor()"></i>
    <div class="header">
      <!--We use the errorMessage to display success message as well.-->
      {{ erroMessageInfo.title }}.{{ erroMessageInfo.message }}
    </div>
  </div>

  <!--ERROR MESSAGE-->
  <div class="ui negative message" *ngIf="showErrorMessage">
    <i class="close icon" (click)="onDismissErrorAuthor()"></i>
    <div class="header">
      {{ erroMessageInfo.title }}
    </div>
    <p>
      {{ erroMessageInfo.message }}
    </p></div>

  <h1 class="ui top attached header">
    Agregar autor
  </h1>


  <div class="ui attached tall stacked segment">

    <form class="ui form" [formGroup]="newAuthorForm">

      <!--NAME-->
      <div class="field required"
           [ngClass]="{'error' : newAuthorForm.controls['full-name'].invalid && newAuthorForm.controls['full-name'].touched}">
        <label>Nombre y Apellido:</label>
        <input type="text"
               placeholder="Nombre completo"
               autofocus
               [formControl]="newAuthorForm.controls['full-name']">
        <div class="ui pointing label"
             *ngIf="newAuthorForm.controls['full-name'].hasError('required') && newAuthorForm.controls['full-name'].touched">
            Este campo es obligatorio.
        </div>
        <div class="ui pointing label"
             *ngIf="newAuthorForm.controls['full-name'].hasError('minlength') && newAuthorForm.controls['full-name'].touched">
          El nombre es demasiado corto.
        </div>
        <div class="ui pointing label"
             *ngIf="newAuthorForm.controls['full-name'].hasError('maxlength') && newAuthorForm.controls['full-name'].touched">
          El nombre es demasiado largo.
        </div>
        <!--<div class="ui pointing label"-->
             <!--*ngIf="newAuthorForm.controls['full-name'].hasError('pattern') && newAuthorForm.controls['full-name'].touched">-->
          <!--Pattern-->
        <!--</div>-->
      </div>
  <!-- END NAME    -->

      <!--two fields de subir imagen-->
      <div class="two fields">
        <!--seleccionar imagen field-->
        <div class="field">
          <label>Seleccionar imágen de perfil:</label>
          <input type="file" #inputFile (change)="onChangeImageAuthor()">
          <small class="d-block text-align-right">Tamaño máximo permitido: 1.5MB<br> Archivos permitidos: JPG, PNG y JPEG.</small>
        </div>

        <!--vista previa field-->
        <div class="field">
          <label>Vista previa:</label>
          <div class="background-muted center-flex">
            <img src="" #imagePreview class="ui medium bordered image rounded">
          </div>

        </div>
      </div>

      <!--bio-->
      <div class="field required"
           [ngClass]="{'error' : newAuthorForm.controls['brief-description'].invalid && newAuthorForm.controls['brief-description'].touched}">
        <label>Breve biografía:</label>
        <textarea [formControl]="newAuthorForm.controls['brief-description']"
                  placeholder="Opcional">
        </textarea>
        <div class="ui pointing label"
             *ngIf="newAuthorForm.controls['brief-description'].hasError('required') && newAuthorForm.controls['brief-description'].touched">
          Este campo es obligatorio.
        </div>
        <div class="ui pointing label"
             *ngIf="newAuthorForm.controls['brief-description'].hasError('minlength') && newAuthorForm.controls['brief-description'].touched">
          La descripción es muy corta.
        </div>
        <div class="ui pointing label"
             *ngIf="newAuthorForm.controls['brief-description'].hasError('maxlength') && newAuthorForm.controls['brief-description'].touched">
          Excediste el límite de caracteres.
        </div>
      </div>

      <div>
        <button class="ui fluid huge button" (click)="onSendNewAuthorForm()">
          <i class="send icon"></i>Agregar
        </button>
      </div>
    </form>

    <!--PROGRESS BAR-->
    <div class="ui bottom attached progress" #progressBar>
      <div class="bar" #progressContent></div>
    </div>
  </div>
</main>
