<main class="ui container pt-8">
  <div class="ui segments raised">
    <div class="ui segment">
      <h1>Categorías</h1>
    </div>

    <div class="ui segment min-height-70" [ngClass]="{'loading': isLoading}">
      <div class="ui three column stackable grid">

        <div class="column mb-1" *ngFor="let category of categories">
          <h1 class="text-muted">{{ category?.name }}</h1>
          <ul class="ui list" *ngFor="let subCategory of category?.subCategory">
            <li><a class="item pointer"
                   [routerLink]="['/category', category.key, subCategory.key, subCategory.name]">{{subCategory?.name}} ({{subCategory?.bookCounter}})</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</main>
