<div class="ui large leaderboard centered test ad"
     data-text="Large Leaderboard"
      *ngIf="adType === 'leaderboard'"></div>

<div class="ui panorama centered test ad"
     data-text="Panorama"
      *ngIf="adType === 'panorama'">

</div>

<div class="ui billboard centered test ad"
     data-text="Billboard"
     *ngIf="adType === 'billboard'">

</div>
