<main class="ui segment min-height-70"
      [ngClass]="{'loading': isLoading}">
  <div class="ui slider checkbox">
    <input type="checkbox" name="newsletter" #inputCheck>
    <label>Publicidad activa</label>
  </div>
  <div class="pt-2">
    <button type="button"
            class="ui button primary"
            (click)="onSaveChanges()">
      Guardar cambios
    </button>
  </div>
</main>
