<div class="ui card custom-card" [routerLink]="['/book', book?.$key, book?.title.split(' ').join('-').toLocaleLowerCase()]">
  <div class="image custom-book-image">
    <img src="{{book?.coverImage}}">
  </div>
  <div class="content">
    <a class="header"
       [routerLink]="['/book', book?.$key, book?.title.split(' ').join('-').toLocaleLowerCase()]">{{ book?.title }}</a>
    <div class="meta">
      <a *ngFor="let author of book?.authors; let i = index"
          [routerLink]="['/author', author?.key, author?.name]">{{author?.name}} <span *ngIf="i < book?.authors.length - 1"> ,</span></a>
    </div>
  </div>
</div>
