<main class="ui segment min-height-70" [ngClass]="{'loading': isLoading}">
  <h1>Los 20 más reportados.</h1>

  <table class="ui selectable celled table" *ngIf="reports; else noReportWasFound">
    <thead>
    <tr>
      <th><i class="privacy icon"></i> Libro</th>
      <th>Link caído</th>
      <th>Archivo muy grande</th>
      <th>Imágen incorrecta</th>
      <th>Total de reportes</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody *ngFor="let report of reports">
    <tr>
      <td>
        <a [routerLink]="['/book', report?.$keyBook, 'staffPreview']" target="_blank">{{report?.$keyBook}}</a>
      </td>
      <td>
        <span *ngIf="report?.linkSubject; else linkElse">{{report?.linkSubject.reportCounter}}</span>
        <ng-template #linkElse>
          0
        </ng-template>
      </td>
      <td>
        <span *ngIf="report?.largeFileSubject; else largeFileElse">{{report?.largeFileSubject.reportCounter}}</span>
        <ng-template #largeFileElse>
          0
        </ng-template>
      </td>
      <td>
        <span *ngIf="report?.wrongImageSubject; else wrongImageElse">{{report?.wrongImageSubject.reportCounter}}</span>
        <ng-template #wrongImageElse>0</ng-template>
      </td>
      <td [ngClass]="{'error': report.totalReportCounter > 15}">
        {{report?.totalReportCounter}}
        <span *ngIf="report.totalReportCounter > 15">
          <i class="attention icon"></i>
          Requiere acción inmediata
        </span>
      </td>
      <td class="center aligned">
        <button class="ui icon button positive"
                type="button"
                (click)="onCheckClick(report)">
        <i class="checkmark icon"></i>
      </button></td>
    </tr>
    </tbody>
  </table>
</main>
<ng-template #noReportWasFound>
  <p>No encontramos ningún reporte...</p>
</ng-template>


<!--Modal-->
<div class="ui basic modal">
  <div class="ui icon header">
    <i class="archive icon"></i>
    ¿Has reparado los errores que fueron reportados?
  </div>
  <div class="content">
    <p>Si aceptas das por hecho que solucionaste el/los problemas que los usuarios reportaron en el libro seleccionado.
      <strong>A continuación se le eliminarán todos los reportes de este libro.</strong>
    </p>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      No
    </div>
    <div class="ui green ok inverted button" (click)="onClickDeleteReport()">
      <i class="checkmark icon"></i>
      Sí
    </div>
  </div>
</div>
