.item-image {
  text-align: center;
}

.item-image img{
  max-width: 100%;
}
.item-book {
  margin-bottom: 1em;
}
.right-body {
  display: none;
  padding-left: 1em;
  width: 70%
}
.brief-description {
  font-size: 1.2em;
}
.muted {
  color: rgba(0,0,0,0.5);
}

.meta-info {
  margin-top: auto;
  display: flex;
}

@media screen and (min-width: 933px) {
  .right-body {
    display: flex;
    flex-direction: column;
  }
  .item-book {
    display: flex;
  }
  .item-image {
    width: 25%;
  }
}
