<article class="item-book">
 <div class="item-image pointer"
      [routerLink]="['/book', bookInput.$key, bookInput.title.split(' ').join('-').toLocaleLowerCase()]">
   <img [src]="bookInput.coverImage" class="ui image huge">
 </div>
  <div class="right-body">
    <h1 class="ui h1"><a [routerLink]="['/book', bookInput.$key, bookInput.title.split(' ').join('-').toLocaleLowerCase()]">{{ bookInput.title }}</a></h1>
    <div class="authors muted">
      <span>Autores: </span>
      <a *ngFor="let authors of bookInput.authors; let i = index"
         [routerLink]="['/author', authors?.key, authors?.name]">
        {{ authors.name }}
        <span *ngIf="i < bookInput.authors.length - 1">, </span>
      </a>
    </div>
    <div class="brief-description muted">
      {{ bookInput.briefDescription }}
    </div>
    <div class="meta-info">
      <!--Likes and categories...-->
      <a class="ui basic label large"
         [routerLink]="['/category', bookInput?.categories.mainCategory.key, bookInput?.categories.subCategory.key,
          bookInput?.categories.subCategory.name]">{{bookInput.categories.subCategory.name}}</a>
      <div class="extra flex-center" style="align-items: center; padding-left: 10px;">
        <i class="blue thumbs outline up icon large"></i>
        {{bookInput.likes}} Likes
      </div>
    </div>
  </div>
</article>

<div class="ui divider"></div>
