<header class="header pt-2" *ngIf="heroImage"
        [style.background-image]="'url(' + heroImage + ')'">
  <div class="header-color">
    <h1 class="header-title">{{ subCategoryName }}</h1>
  </div>
</header>

<main class="mt-1">
  <div class="ui stacked segment container min-height-70"
      [ngClass]="{'loading': isLoading}">
    <div class="ui three column stackable grid">
      <h1 *ngIf="errorMessage" class="mt-1">{{ errorMessage }}</h1>
      <div class="column" *ngFor="let book of subCategories?.books">
        <div class="cover-container">
          <img class="ui medium image pointer cover"
               [src]="book?.coverImage"
               [routerLink]="['/book', book?.key, book?.title]">
        </div>
      </div>
    </div>
  </div>
</main>
