.header {
  height: 48vh;
  background-size: cover;
}

.header-title {
  font-family: 'Alfa Slab One', cursive;
  font-weight: normal;
  color: #fff;
  font-size: 3em;
}

.header-color {
  height: 100%;
  background-image: linear-gradient(to right, rgba(75,108,183,0.5), #182848);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover {
  box-shadow: 0 3px 10px rgba(0,0,0, 0.2);
  transition: transform 200ms ease-in-out, box-shadow 220ms ease-in-out;
}

.cover:hover {
  transform: scale(1.03);
  box-shadow: 0 5px 10px rgba(0,0,0, 0.4);
}


