<div class="two fields">
  <div class="field" [class.error]="hasFileError">
    <div class="ui fluid selection dropdown google-picker">
      <input type="hidden" name="user">
      <i class="dropdown icon"></i>
      <div class="default text">Selecciona un servicio</div>
      <div class="menu">
        <div class="item" data-value="firebase" (click)="selectedOption = 'firebaseStorage'">
          <img class="ui mini avatar image" src="https://firebase.google.com/_static/images/firebase/touchicon-180.png">
          Firebase Storage
        </div>
        <div class="item" data-value="Google Drive" (click)="selectedOption = 'googleDrive'">
          <img class="ui mini avatar image" src="https://i.imgur.com/GHvwuX3.png">
          Google Drive (ID)
        </div>
      </div>
    </div>
  </div>
  <div class="field" [class.error]="hasFileError">
    <div *ngIf="selectedOption === 'firebaseStorage'">
      <input type="file" #fileControl>
    </div>
    <div *ngIf="selectedOption === 'googleDrive'">
      <input type="text"
             placeholder="Google Drive ID"
             #driveControl>
    </div>
  </div>

</div>
<div class="ui buttons">
  <!--TODO AGREGAR FUNCIONALIDAD A REFRESCAR!-->
  <button class="ui button" type="button">Refrescar</button>
  <div class="or"></div>
  <button class="ui positive button active"
          (click)="onSaveClick()"
          type="button">Guardar Archivo</button>
</div>
<div class="ui left pointing label" *ngIf="hasFileError">
 {{ errorFileDescription }}
</div>
