.main-container {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/librostic-fa290.appspot.com/o/app%2Flogin-bg%2Flogin-bg.jpeg?alt=media&token=55edcd5a-5e56-4ed9-b188-d7289bf85543");
  background-size: cover;
  background-position: center bottom;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
