<div class="main-container">
  <main class="ui container pt-6">
    <!--Banned message-->
    <div class="ui negative message huge" *ngIf="showBannedError">
      <i class="close icon" (click)="onDismissError()"></i>
      <div class="header">
        Estas baneado permanentemente.
      </div>
      <p>La cuenta asociada con el email: <em>{{ bannedEmail }}</em> fué baneada por la <strong>siguiente razón:</strong><br>
      {{ bannedReason }}
      </p>
    </div>


    <!--Error messages-->
    <div class="ui error message huge" *ngIf="showError">
      <i class="close icon" (click)="onDismissError()"></i>
      <div class="header">
        {{ errorAlert.title }}
      </div>
      <p>{{ errorAlert.messageContent }}</p>
    </div>


    <h1 class="ui top attached header">
      Ingresar con:
    </h1>
    <!--social buttons-->
    <div class="ui attached segment">
      <div class="ui grid">
        <div class="column sixteen wide">

          <!--Facebook login-->
          <button class="fluid ui facebook button huge"
                  type="button"
                  (click)="onFacebookLogin()">
            <i class="facebook icon"></i>
            Facebook
          </button>
        </div>
        <div class="column sixteen wide">
          <!--Gmail login-->
          <button class="fluid ui google plus button huge"
                  type="button"
                  (click)="onGoogleLogin()">
            <i class="google plus icon"></i>
            Google Plus
          </button>
        </div>
        <div class="column sixteen wide">
          <button class="fluid ui twitter button huge"
                  (click)="onTwiterLogin()">
            <i class="twitter icon"></i>
            Twitter
          </button>
        </div>
        <div class="column sixteen wide">
          <!--Github login-->
          <button class="fluid ui btn-github button huge"
                  (click)="onGithubLogin()">
            <i class="github icon"></i>
            Github
          </button>
        </div>
      </div>
    </div>
  </main>
</div>
