<h2>Nueva categoría principal</h2>
<div class="ui divider"></div>

<!--ERROR MESSAGE-->
<div class="ui negative message" *ngIf="showErrorMessage">
  <i class="close icon" (click)="onCloseErrorMessage()"></i>
  <div class="header">
    Verifica los campos.
  </div>
  <p>
    Comprueba que ningún campo esta vacío. Solo se permiten imágenes PNG, JPG y JPEG con un tamaño máximo de 5MB.
  </p>
</div>
<div class="ui success message" *ngIf="successfullyAdded">
  <div class="header">Todo perfecto!</div>
  <p>La categoría se agregó correctamente.</p>
</div>

<!--ERROR MESSAGE DATABASE-->
<div class="ui negative message" *ngIf="failedToAdded">
  <i class="close icon" (click)="onCloseErrorDatabase()"></i>
  <div class="header">
    No pudimos guardar la categoría.
  </div>
  <p>
    Ocurrió un error al intertar guardar la información. Intentelo nuevamente o cambie de imágen.
  </p>
</div>
<form class="ui form" #f="ngForm" (ngSubmit)="onSubmitMainCategory(f)">
  <div class="field"
      [class.error]="!categoryName.valid && categoryName.touched">
    <label>Nombre</label>
    <input type="text"
           name="categoryName"
           ngModel
           #categoryName="ngModel"
           placeholder="Nombre de la categoría principal"
           required>
  </div>

  <div class="field"
       [class.error]="!subCategoryName.valid && subCategoryName.touched">
    <label>Nombre de la primera Subcategoría</label>
    <input type="text"
           name="subCategoryName"
           ngModel
           #subCategoryName="ngModel"
           placeholder="Primera subcategoría"
           required>
    <div class="ui pointing label" *ngIf="subCategoryName.hasError('required') && subCategoryName.touched">
      Por favor ingresa la primer subcategoría.
    </div>
  </div>

  <div class="two fields">
    <div class="field">
      <label>Hero Image</label>
      <input type="file"
             (change)="onChangeHeroImage()"
             #imageControl>
    </div>
    <div class="field">
      <div class="ui medium image">
        <img #imgElement>
      </div>
    </div>
  </div>
  <button class="primary ui button fluid" type="submit">Agregar categoría</button>
</form>
<div class="ui active dimmer inverted" *ngIf="isSendingInformation">
  <div class="ui indeterminate text loader">Enviado información</div>
</div>
