
<div class="ui floating labeled icon dropdown button">
  <i class="filter icon"></i>
  <span class="text">Filtrado</span>
  <div class="menu">
    <div class="header">
      Selecciona un filtro
    </div>
    <div class="divider"></div>
    <div class="item">
      <span class="text">Más recientes</span>
    </div>
    <div class="item">
      <span class="text">Más antiguos</span>
    </div>
    <div class="item">
      <span class="text">Baneados</span>
    </div>
    <div class="item">
      <span class="text">Staff</span>
    </div>
  </div>
</div>

<table class="ui selectable celled table" *ngIf="!isLoading; else showLoader">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Provider</th>
  </tr>
  </thead>
  <tbody *ngIf="userList; else noneUserWasFound">
  <tr *ngFor="let user of userList">
    <!--TODO link the uid to consult the full information of the user.-->
    <td><a href="#" class="text-bold">{{ user.uid }}</a></td>
    <td>
      <img class="ui avatar image" src="{{ user.photoUrl }}">
      {{ user.displayName }}
    </td>
    <td>{{ user.providerId }}</td>
  </tr>
  </tbody>
  <tfoot>
  <tr><th colspan="3">
    <div class="ui right floated pagination menu">
      <a class="icon item" (click)="onBackList()">
        <i class="left chevron icon"></i>
      </a>
      <a class="icon item" (click)="onNextList()">
        <i class="right chevron icon"></i>
      </a>
    </div>
  </th>
  </tr></tfoot>
</table>
<ng-template #noneUserWasFound>
  <h2>No encontramos ningún usuario.</h2>
</ng-template>
<ng-template #showLoader>
  <div class="ui active centered inline loader"></div>
</ng-template>
