<!--Messages-->
<div class="ui positive message" *ngIf="successMessage">
  <i class="close icon" (click)="resetMessages()"></i>
  <div class="header">
    {{ successMessage }}
  </div>
</div>

<div class="ui negative message" *ngIf="errorMesagge">
  <i class="close icon" (click)="resetMessages()"></i>
  <div class="header">
    {{ errorMesagge }}
  </div>
</div>

<div class="ui form">
  <div class="field">
    <div class="field">
      <label>Libro</label>
      <input type="text" placeholder="key del libro" #bookID>
    </div>
    <div class="ui buttons">
      <button class="ui button labeled icon"
              type="button"
              (click)="onEditImage(bookID.value)">
        <i class="write icon"></i>
        Imágen
      </button>
      <div class="or"></div>
      <button class="ui button labeled icon"
              type="button"
              (click)="onEditLink(bookID.value)">
        <i class="write icon"></i>
        Link
      </button>
    </div>
</div>
</div>
<div *ngIf="showEditLinkForm" class="ui segment mt-3" [ngClass]="{'loading': isLoading}">
  <form class="ui form" (ngSubmit)="onSubmitEditLink(form)" #form="ngForm">
    <div class="field">
      <label>Ingresa un ID de Google Drive</label>
      <input type="text"
             placeholder="Google Drive Key"
             ngModel
             name="googleDriveInput"
             required>
    </div>
    <button class="ui button primary"
            [disabled]="!form.valid">Cambiar Link</button>
  </form>
</div>
<div class="ui segment" *ngIf="showEditImageForm" [ngClass]="{'loading': isLoading}">
  <div class="ui two column doubling grid mt-1">
    <div class="column">
      <h2>Nueva imágen</h2>
      <input type="file" #imageInput>
      <button class="ui button primary" (click)="onUpdateCoverImage(imageInput.files[0])">Cambiar Imágen</button>
    </div>
    <div class="column">
      <h2>Imágen actual</h2>
      <img [src]="bookImageUrl" alt="cover image">
    </div>
  </div>
</div>
