.profile-name {
  margin-top: 0.3em;
  margin-bottom: 1em;
}

.cover {
  box-shadow: 0 3px 10px rgba(0,0,0, 0.2);
  transition: transform 200ms ease-in-out, box-shadow 220ms ease-in-out;
}

.cover:hover {
  transform: scale(1.03);
  box-shadow: 0 5px 10px rgba(0,0,0, 0.4);
}

.font {
  font-size: 1.3em;
}
