<main class="ui container pt-8">
  <div class="profile-image">
    <img class="ui small centered image"
         [src]="author?.profileURL">
    <h2 class="text-align-center profile-name">{{author?.fullName}}</h2>
  </div>

  <div class="ui top attached tabular menu">
    <a class="item"
       [ngClass]="{'active': showBooks}"
        (click)="changeToBooks()">
      Libros
    </a>
    <a class="item"
       [ngClass]="{'active': showBio}"
        (click)="changeToBio()">
      Biografía
    </a>
  </div>
  <div class="ui bottom attached segment min-height-40"
       [ngClass]="{'loading': isLoading}">

    <div class="ui three column stackable grid" *ngIf="showBooks">
      <div class="column" *ngFor="let book of authorBooks">
        <div class="cover-container">
          <img class="ui medium image pointer cover"
               [src]="book?.bookPhoto"
               [routerLink]="['/book', book?.bookKey, book?.bookTitle]">
        </div>
      </div>
    </div>

    <div *ngIf="showBio">
      <p class="font">{{ author?.briefBio }}</p>
    </div>
  </div>
</main>
