
<div class="ui segment height-100" [ngClass]="{'loading': isLoading}">
  <!--MESSAGES-->
  <div class="ui negative message" *ngIf="errorMessage">
    <i class="close icon" (click)="hideMessages()"></i>
    <div class="header">
      {{ errorMessage }}
    </div>
  </div>

  <div class="ui success message" *ngIf="successMessage">
    <i class="close icon" (click)="hideMessages()"></i>
    <div class="header">
      {{ successMessage }}
    </div>
  </div>
  <!--END MESSAGES-->

  <h1>Eliminar libro</h1>
  <div class="ui form">
    <div class="field">
      <label>KEY del libro:</label>
      <input type="text"
             placeholder="KEY del libro"
             #keyInput>
    </div>
    <button class="ui button negative labeled icon"
            type="button"
            (click)="onDeleteBook()">
      <i class="trash icon"></i>
      Eliminar
    </button>
  </div>
</div>



<div class="ui modal tiny">
  <div class="header">
    <i class="privacy icon"></i>
    Contraseña maestra
  </div>
  <div class="content">
    <div class="ui form">
      <div class="field">
        <label>Contraseña</label>
        <input type="password" required #masterKeyInput>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui cancel button" (click)="hideModalAndResetInput()">Cancelar</div>
    <button class="ui approve button positive"
          (click)="onConfirmMasterPassword()"
          type="button"
          [disabled]="!masterKeyInput.value">Confirmar</button>
  </div>
</div>
