<h2>Nueva subcategoría</h2>
<div class="ui divider"></div>
<!--ERROR MESSAGE-->
<div class="ui negative message" *ngIf="errorMessage">
  <i class="close icon" (click)="onCloseMessage()"></i>
  <div class="header">
    Ocurrió un error:
  </div>
  <p>
    {{ errorMessageBody }}
  </p>
</div>

<!--SUCCESS MESSAGE-->
<div class="ui positive message" *ngIf="successMessage">
  <i class="close icon" (click)="onCloseMessage()"></i>
  <div class="header">
    La subcategoría se agregó correctamente!
  </div>
  <p>Keep the <strong>momentum!</strong></p>
</div>
<form class="ui form" ngForm="subcategoryForm" (ngSubmit)="onSubcategorySend()">
    <!--main categories-->
    <div class="field"
         [class.error]="!subcategoryForm.controls['main-category'].valid && subcategoryForm.controls['main-category'].touched">
        <label>Categoría Principal</label>
        <select size="10"
                *ngIf="mainCategories; else loadingCategories"
                [formControl]="subcategoryForm.controls['main-category']">
          <option *ngFor="let category of mainCategories" [value]="category.key">
            {{ category.name }}
          </option>
        </select>
    </div>

    <!--subcategory's name-->
    <div class="field"
         [class.error]="!subcategoryForm.controls['sub-category-name'].valid && subcategoryForm.controls['sub-category-name'].touched">
      <label>Nombre de la subcategoría</label>
      <input placeholder="nombre (sin acentos)"
             type="text"
             [formControl]="subcategoryForm.controls['sub-category-name']">
    </div>
  <button class="fluid primary ui button">Añadir subcategoría</button>
</form>
<ng-template #loadingCategories>
  <div class="ui active inverted dimmer" >
    <div class="ui text loader">Cargando</div>
  </div>
</ng-template>
