<div class="field">
  <label>Selecciona un autor</label>
  <div class="two fields">
    <!--Search bar field-->
    <div class="required field author-search">
      <div class="ui search">
        <div class="ui icon input">
          <input class="prompt" type="text"
                 placeholder="Buscar autor..."
                 (keyup)="searchAuthor()"
                 #authorNameField>
            <app-query-result [authors]="authorsList"></app-query-result>
        </div>
        <div class="ui pointing label not-author-found" *ngIf="authorsList.length < 1 && authorNameField.value.length > 3">
          No encontramos ningún autor con ese nombre. Puedes <a [routerLink]="['/add-author']"><strong>agregar el autores aquí.</strong></a>
        </div>
      </div>
    </div>

    <!--authors clicked field-->
      <div class="field author-labels">
        <a class="ui label" *ngFor="let author of selectedAuthors; let i = index">
          <img src="{{author?.profileURL}}">
          {{author?.fullName}}
          <i class="delete icon" (click)="deleteSelectedAuthor(i)"></i>
        </a>
      </div>

  </div>
</div>
