<main class="ui container mt-6" *ngIf="booksFound.length >= 1">
  <div class="ui top attached segment">
    <h1 class="ui h1">Resultados encontrados</h1>
  </div>
  <div class="ui attached raised segment min-height"
        [ngClass]="{'loading': isLoading}">
    <div class="items-container">
      <!--loop books and pass it such an input.-->
      <app-item-result *ngFor="let book of booksFound" [bookInput]="book"></app-item-result>
    </div>
  </div>
</main>
