.home-banner {
  background-image: linear-gradient(to right, rgba(75,108,183,0.5), #182848),
                    url('https://firebasestorage.googleapis.com/v0/b/librostic-fa290.appspot.com/o/app%2Fhome-banner%2Fpexels-photo-185764%20(1)%20(1).jpeg?alt=media&token=782343b5-897c-4dfe-834a-f4cd6da825fe');
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content {
  width: 100%;
  /*background: rgba(0,0,0,0.4);*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
.banner-title {
  font-family: 'Alfa Slab One', cursive;
  font-weight: normal;
  color: #fff;
  font-size: 3em;
  border-bottom: 2px solid rgba(255,255,255,0.7);
}
.banner-subheader {
  margin-top: 0;
  font-family: Helvetica, sans-serif;
  color: rgba(255,255,255,0.7);
}

.book-container {
  display: flex;
  justify-content: space-around;
}
