<div class="home-banner pt-4">
  <div class="banner-content">
    <h1 class="banner-title">Descarga libros grátis</h1>
    <h2 class="banner-subheader">Libros de Programación, Diseño, Ingeniería y más!</h2>
  </div>
</div>

<!--AD-->
<div class="container pt-2" *ngIf="enabledAd">
  <app-advertisement [adKind]="'panorama'"></app-advertisement>
</div>

<main class="ui container pt-2">
  <div class="ui grid raised segment book-container" [ngClass]="{'loading': isLoading}">
    <app-book-item *ngFor="let book of visibleBooks" [book]="book"></app-book-item>
    <div class="ui bottom attached progress active blue" *ngIf="isLoading">
      <div class="bar" style="width: 100%;"></div>
    </div>
  </div>
  <div>
    <button class="ui fluid massive button" (click)="onLoadMoreBooks()" [disabled]="TOTAL_BOOKS - 1 === visibleBooks.length || isLoading">
      <span *ngIf="TOTAL_BOOKS - 1 === visibleBooks.length; else normalContent">
        No hay más libros
      </span>
      <ng-template #normalContent>
        Cargar más
      </ng-template>
    </button>
  </div>
</main>
