<h2 class="ui h1">Bloquear Usuario</h2>

<div class="ui negative message" *ngIf="showError">
  <i class="close icon"
     (click)="onCloseMessage()"></i>
  <div class="header">
    {{ errorMessage.title }}
  </div>
  <p>
    {{ errorMessage.body }}
  </p>
</div>

<div class="ui positive message" *ngIf="showSuccess">
  <i class="close icon"
     (click)="onCloseMessage()"></i>
  <div class="header">
    Usuario bloqueado correctamente
  </div>
  <p>El usuario fue <b>bloqueado de manera correcta.</b></p>
</div>

<form class="ui form" #form="ngForm" (ngSubmit)="onSubmitBan(form)">
  <div class="field"
       [class.error]="!uidControl.valid && uidControl.touched">
    <label>UID</label>
    <input type="text"
           name="uid"
           placeholder="UID"
           ngModel
           #uidControl="ngModel"
           required>
    <div class="ui pointing label"
         *ngIf="uidControl.invalid && uidControl.touched">
      Este campo es obligatorio
    </div>
  </div>
  <div class="field"
       [class.error]="!descriptionControl.valid && descriptionControl.touched">
    <label>Motivo</label>
    <textarea minlength="10"
              required
              name="description"
              ngModel
              #descriptionControl="ngModel"
              maxlength="250">
    </textarea>
    <div class="ui pointing label"
          *ngIf="!descriptionControl.valid && descriptionControl.touched">
      Da una explicación del bloqueo. Se requieren al menos 10 caracteres.
    </div>
  </div>
  <button class="ui negative submit button"
          [disabled]="!form.valid">
    <i class="bomb icon"></i>Bloquear</button>
</form>
