* {
  box-sizing: border-box;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(0,0,0,.05);
}
html {
  margin: 0;
  padding: 0;
}
.search-wide {
  width: 50%;
}
.takeoff-margin-top {
  margin-top: 0 !important;
}

/*usar background por cada imagen!*/
.insert-cover {
  background-color: rgba(0,0,0,0.7);
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/41FhogvNebL._SX331_BO1,204,203,200_.jpg");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.anchor-wide {
  position: relative;
  width: 100%;
  height: 100%;
}

.center-text {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.text-muted {
  color: rgba(0,0,0,0.4);
}
.mt-1 {
  margin-top: 1em !important;
}
.mt-3 {
  margin-top: 3em;
}
.mt-5 {
  margin-top: 5em;
}
.mt-6 {
  margin-top: 6em;
}
.mb-1 {
  margin-bottom: 1em;
}
.pt-2 {
  padding-top: 2em;
}
.pt-4 {
  padding-top: 4em;
}
.pt-6 {
  padding-top: 6em;
}
.pt-8 {
  padding-top: 8em;
}
.pb-2 {
  padding-bottom: 2em;
}
.little-padding {
  padding-right: 0.5em;
}
.background-muted {
  background-color: rgb(228, 228, 228);
}
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-github {
  background-color: #333333 !important;
  color: white !important;
}
.btn-github:hover {
  background-color: rgba(33, 33, 33,1) !important;
}
.btn-github:active {
  background-color: rgb(20, 20, 19) !important;
}

.hidden {
  opacity: 0;
}
.d-block {
  display: block;
}

.text-align-center {
  text-align: center !important;
}

.text-align-right {
  text-align: right;
}

.author-search {
  position: relative;
}

.author-result {
  position: absolute;
  left: 0;
  top: 3em;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.3);
  background: white;
  z-index: 10;
}
.author-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
  margin-bottom: 0.5em;
}
.author-list > div {
  width: 15%;
}
.author-list:hover {
  background-color: rgba(0,0,0,0.1);
}
.author-list > h3 {
  margin: 0;
  padding-left: 2em;
  font-weight: bold;
}
.not-author-found {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.pointer {
  cursor: pointer;
}
.text-bold {
  font-weight: bolder;
}
.disabled-item {
  opacity: 0.4;
}

.custom-card {
  margin-bottom: 1em !important;
  cursor: pointer;
  transition: all 250ms ease-in-out !important;
}
.custom-card:hover {
  border: 1px solid rgba(56, 169, 252, 1);
  transform: scale(1.05);
  transition: all 250ms ease-in-out !important;
}
.book-container {
  padding: 1em !important;
  min-height: 40vh;
}

.min-height-70 {
  min-height: 70vh;
}

.min-height-80 {
  min-height: 90vh;
}

.min-height-90 {
  min-height: 90vh;
}

.min-height-40 {
  min-height: 40vh;
}

.height-100 {
  height: 100%;
}


.huge-emoji {
  font-size: 6em;
}

.site-name {
  padding-left: 0.3em;
}
