<main class="ui container pt-8" *ngIf="isUserInformationFetched; else loading">
  <!--Error message-->
  <div class="ui warning message" *ngIf="showFormError">
    <i class="close icon" (click)="onCloseFormConfigAlert()"></i>
    <div class="header">
      {{ formErrorContent.title }}
    </div>
    {{ formErrorContent.message }}
  </div>

  <!--Successful message-->
  <div class="ui success icon message" *ngIf="showSuccessAlert">
    <i class="check circle icon"></i>
    <div class="header">
      El perfil se actualizó correctamente.
    </div>
  </div>

  <h1 class="ui top attached header">
    Configuración
  </h1>
  <div class="ui tall stacked segment attached">

  <form class="ui form" [formGroup]="configForm"
        (ngSubmit)="onSubmitConfigForm(configForm.value)">

    <!--NAME CONTROL-->
    <div class="field required" [ngClass]="{'error': !nameControl.valid && nameControl.touched}">
      <label>Nombre completo:</label>
      <input type="text"
              [formControl]="configForm.controls['fullname']">
      <div class="ui pointing label" *ngIf="nameControl.touched && nameControl.hasError('required')">
        Por favor ingrese un valor.
      </div>
      <div class="ui pointing label" *ngIf="nameControl.touched && nameControl.hasError('maxlength')">
        El máximo permitido de caracteres es 30.
      </div>
      <div class="ui pointing label" *ngIf="nameControl.touched && nameControl.hasError('minlength')">
        Ingresa al menos 5 caracteres.
      </div>
    </div>
    <!--END NAME CONTROL-->

    <div class="field">
      <label>Email (solo lectura)</label>
      <input placeholder="{{ userEmail }}" readonly="" type="text">
    </div>

    <h4 class="ui dividing header">Imágen de Perfil.</h4>
    <div class="two fields">
      <div class="field">
        <small>Resolución mínima 50 x 50, peso máximo 5Mb.</small>
        <input type="file" class="ui basic button" (change)="onChangeImage()" #fileButton>
        <div class="ui pointing label" *ngIf="showSizeError">
          La imágen excede el tamaño máximo.
        </div>

      </div>
      <div class="field center-image">
        <!--Show profile image-->
        <img class="ui medium bordered image rounded" src="{{ imageURL }}" #showImage>
      </div>
    </div>

    <!--Progress bar-->
    <div class="ui progress active" [ngClass]="{'hidden': !isUploadStarted, 'error': errorOnUploadImage}" #progressParent>
      <div class="bar" #progressElement>
        <div class="progress" #progressNumber>0%</div>
      </div>
      <div class="label" *ngIf="successfullyUploadOfImage">Imágen subida satisfactoriamente.</div>
    </div>

    <!--Button-->
    <button class="ui huge fluid button">
      <i class="send icon"></i>Guardar
    </button>
  </form>

  </div>
</main>

<!--TODO load spinner. We must to import the spinner in auth.module so we can use it.-->
<ng-template #loading class="mt-6 pt-2">
  <h1>Loading...</h1>
</ng-template>
