<div class="ui stackable three column grid footer">
  <div class="column text-align-center">v1.0.0</div>
  <div class="column text-align-center">Copyright 2017 Librostic.com</div>
  <div class="column text-align-center"><a href="mailto:librostic@protonmail.com?subject=Mail from Our Site">librostic@protonmail.com</a></div>
</div>
