<div class="author-result rounded" *ngIf="authors.length > 0">
  <ng-template [ngIf]="authors.length > 0">
    <div *ngFor="let author of authors; let i = index" (click)="onAuthorClicked(i)">
        <div class="author-list">
          <div>
            <img class="ui image" src="{{author.profileURL}}">
          </div>
          <h3>{{author.fullName}}</h3>
        </div>
    </div>
  </ng-template>
</div>
