<div>
  <div *ngIf="userService.user; else loading">
    <h1>Hola, {{userService.user.displayName}}</h1>
  </div>
  <div class="ui two statistics huge" *ngIf="stadistic; else loading">
    <div class="statistic">
      <div class="value">
        <i class="retweet icon"></i> {{ stadistic.totalBooks }}
      </div>
      <div class="label">
        Libros compartidos
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        <i class="user icon"></i>
        {{ stadistic.totalMembers }}
      </div>
      <div class="label">
        Miembros totales
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="ui active inverted dimmer" >
    <div class="ui text loader">Cargando</div>
  </div>
</ng-template>

